body{
    background-color: rgb(46, 46, 46);
    color: azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

header{
    text-align: left;
    font-size: 30px;
    background-color: black;
    height: 280px;
    margin: 0;
}

h1{
    margin: 0;
    color: rgb(126, 135, 255);
    text-decoration: wavy;
}

nav{
    text-align: center;
    font-size: 30px;
    position: relative;
    bottom: 250px;
    text-align: right;
    display: flex;
    justify-content: space-between;
    padding-left: 1200px;
    padding-right: 30px;
}
html{
    scroll-behavior: smooth;
}

#mainImage{
    text-align: left;
    position: relative;
    bottom: 208px;
}

#serverImage{
    text-align: left;
}

footer{
    text-align: center;
}

.contactInfo{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    padding-left: 500px;
    padding-right: 500px;
    position: relative;
    bottom:10px;
}

.AboutAndWork{
    font-size: x-large;
}

h2{
    color: rgb(126, 135, 255);
    font-size: 50px;
    text-decoration: underline;
    text-align: center;
}

h3{
    color: rgb(126, 135, 255);
    font-size: 50px;
    text-decoration: underline;
    text-align: center;
}

a{
    color: rgb(252, 0, 218);
}

h4{
    font-size: 50px;
    color: rgb(126, 135, 255);
    text-decoration: underline;
}


.popuptext {
    position: relative;
    right: 1000px;
    top: 492px;
    background-color: rgb(13, 14, 1);
    color: rgb(43, 255, 255);
    font-size: 30px;
    opacity: 50%;
}

#dragonscimmy:hover + .popuptext{
opacity: 100%;
}

#dragonscimmy:hover {
    opacity: 50%;
}

.workImages{
    justify-content: flex-start;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}

#calendar{
    position: relative;
    right: 150px;
}

#calendar:hover {
    opacity: 50%;
}

.popuptext2 {
    position: relative;
    right: 450px;
    top: 160px;
    background-color: rgb(13, 14, 1);
    color: rgb(43, 255, 255);
    font-size: 30px;
    opacity: 50%;
}

#calendar:hover + .popuptext2{
    opacity: 100%;
}

#mother{
    position: relative;
    left: 1480px;
    bottom: 570px;
}

#mother:hover{
    opacity: 50%;
}

.popuptext3 {
    position: relative;
    left: 1180px;
    bottom: 410px;
    background-color: rgb(13, 14, 1);
    color: rgb(43, 255, 255);
    font-size: 30px;
    opacity: 50%;
}

#mother:hover + .popuptext3{
    opacity: 100%;
}

#code{
    position: relative;
    left: 570px;
    bottom: 236px;
}

#code:hover{
    opacity: 50%;
}

.popuptext4 {
    position: relative;
    left: 270px;
    bottom: 75px;
    background-color: rgb(13, 14, 1);
    color: rgb(43, 255, 255);
    font-size: 30px;
    opacity: 50%;
}

#code:hover + .popuptext4{
    opacity: 100%;
}

#website{
    position: relative;
    bottom: 236px;
    left: 475px;
}

#website:hover{
    opacity: 50%;
}

.popuptext5 {
    position: relative;
    left: 170px;
    bottom: 75px;
    background-color: rgb(13, 14, 1);
    color: rgb(43, 255, 255);
    font-size: 30px;
    opacity: 50%;
}

#website:hover + .popuptext5{
    opacity: 100%;
}




